{% extends "website/layout.html" %}

{% block title %}
Car page
{% endblock %}

{% block content %}
    <h1 class="bg-amber-600">Cars</h1>
    <div class="grid grid-cols-3 gap-4 m-4">
        {% for car in cars %}
        <div class="bg-blue-800 p-4 rounded-lg shadow-2xl">
            <img src="{{car.image.url}}" alt="{{car.name}}">
            <h2 class="text-2xl font-bold">{{car.name}}</h2> 
            <a href="{% url 'car_detail' car.id %}">
                <button
                type="button" 
                class="inline-flex w-full align-center bg-orange-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    {{car.car_type}}-{{car.id}}
                </button>
            </a>
        </div>
    {% endfor  %}
    </div>
{% endblock %}

